// **********************************//
// Document Color and Font Variables //
// **********************************//

// Document Color Variables
$primary-text-color: #333; // also used for links
$heading-color: crimson;
$main-background: #eef; // body background
$secondary-background: powderblue; // header, footer, main menu background
$h1-background: rgba(106, 145, 193, 0.6); // adjust as needed for accessibility


$header-font: 'Merriweather', serif;
$body-font: 'Newsreader', serif;